


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

.kgp-gallery {
  text-align: center;
}
.kgp-gallery li {
  display: inline-table;
  margin: 10px;
}
.kgp-gallery img {
  height: 150px;
  width: 150px;
}
.kgp-gallery img:hover {
  box-shadow: 5px 3px 3px black;
  -webkit-transition: .75s;
  transition: .75s;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

[id^="description-"] {
  box-sizing: border-box;
  width: 80vw;
  position: absolute;
  right: -100vw;
  padding: 20px;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
